<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.mapper.system.RoleMapper">
    <select id="selectPermsByRoleId" resultType="java.lang.String">
        select distinct perm_code
        from sys_menu m
        where menu_id in (select menu_id from sys_menu_role where role_id = #{roleId}) r
        and m.perm_code is not null
        and m.type = 2
        and m.status = 1
        and m.delete_flag = 0
    </select>
</mapper>